@use 'base/variables' as v;

/** Media Queries **/
@mixin telefono {
    @media (min-width: #{$telefono}) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: #{$tablet}) {
        @content;
    }
}
  
@mixin desktop {
    @media (min-width: #{$desktop}) {
        @content;
    }
}
@mixin grid($columnas, $espaciado ) {
    display: grid;
    gap: $espaciado;
    grid-template-columns: repeat($columnas, 1fr);
}

@mixin  flex($direccion, $alinacion, $justificacion, $gap: 0) {
    display: flex;
    flex-direction: $direccion;
    align-items: $alinacion;
    justify-content: $justificacion;
    gap: $gap;
}

@mixin btn($color, $color2) {
    width: 27rem;
    padding: .8rem 3rem;
    border-radius: v.$br;
    cursor: pointer;
    background: transparent;
    border: ipx solid $color;
    color: $color;
    text-transform: uppercase;
    transition: all .5s;

    &:hover {
        background-color: $color;
        color: $color2;
    }
}

@mixin triangle($wh, $t: 0, $l: 0) {
    position: absolute;
    width: $wh;
    height: $wh;
    top: $t;
    left: $l;
    background: rgb(2,0,36);
    background: -moz-linear-gradient(151deg, rgba(2,0,36,1) 0%, rgba(185,12,12,1) 24%, rgba(0,212,255,1) 100%);
    background: -webkit-linear-gradient(151deg, rgba(2,0,36,1) 0%, rgba(185,12,12,1) 24%, rgba(0,212,255,1) 100%);
    background: linear-gradient(151deg, rgba(2,0,36,1) 0%, rgba(185,12,12,1) 24%, rgba(0,212,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024",endColorstr="#00d4ff",GradientType=1);
}