@use 'base/mixins' as m;
@use 'base/variables' as v;

.contacto {
    position: relative;
    width: 100%;
    height: 30rem;
}

.contacto__content {
    position: absolute;
    width: 100%;
    height: 100%;
    @include m.flex(column, center, center, v.$corto);
}

.contacto__content__title {
    color: v.$blanco;
    font-weight: 900;
    margin: 0;
}

.contacto__content__paragraph {
    color: v.$blanco;
}

.content__video {
    position: absolute;
    width: 100%;
    max-height: 100%;
    object-fit: cover;
    object-position: center center;
    z-index: -1;
}