@use 'base/mixins' as m;
@use 'base/variables' as v;

.contacto {
    position: relative;
    width: 100%;
    max-height: 30rem;
    min-height: 20rem;
}

.contacto__content {
    position: absolute;
    width: 100%;
    height: 100%;
    @include m.flex(column, center, center, v.$corto);
}

.contacto__content__title {
    font-weight: 900;
    font-size: 3rem;
    margin: 0;

    @include m.tablet {
        font-size: 4.8rem;
    };
}

.contacto__content__paragraph {
    font-size: 1.6rem;
    text-align: center;
    @include m.tablet {
        font-size: 2.4rem;
    };
}

.content__video {
    position: absolute;
    width: 100%;
    max-height: 30rem;
    object-fit: cover;
    object-position: center center;
    z-index: -1;
}