@use 'base/mixins' as m;
@use 'base/variables' as v;

body {
    position: relative;
}

.footer {
    margin-top: 10rem;
    background-color: v.$negro;
    z-index: 100;
    position: static;
    bottom: 0;
    width: 100%;

    ul {
        display: flex;
        justify-content: space-evenly;
        a {
            transition: opacity .3s;
    
            &:hover {
                opacity: .7;
            }
        }
    }
}

.copyrigth {
    text-align: center;  
    font-size: 1.6rem;
}