@use 'base/mixins' as m;
@use 'base/variables' as v;

.header {
    background-color: v.$negro;
    padding: 0 v.$grande;
    @include m.flex(row, center, space-around, v.$corto);
};

.header__title {
    color: v.$blanco;
    font-weight: 800;
};

.list {
    @include m.flex(row, center, space-between, v.$grande);
}

.list__item {
    a {
        color: v.$blanco;
        transition: opacity .3s;

        &:hover {
            opacity: .7;
        }
    }
}


