@use 'base/mixins' as m;
@use 'base/variables' as v;

.header {
    background-color: v.$negro;
    padding: 0 v.$grande;
    @include m.flex(row, center, space-around, v.$corto);
    position: relative;
};

.header-link {
    z-index: 101;
}

.header__title {
    color: v.$blanco;
    font-weight: 800;
};

.list {
    @include m.flex(row, center, space-between, v.$grande);
    display: none;
    @include m.tablet {
        display: flex;
    };
}

.list__item {
    a {
        color: v.$blanco;
        transition: opacity .3s;

        &:hover {
            opacity: .7;
        }
    }
}

.container-menu {
    position: absolute;
    top: -200px;
    transition: all 1s;
}

.activecontainer-menu {
    display: block;
    position: absolute;
    background: rgb(61, 61, 61);
    width: 100%;
    padding: 3rem;
    top: 68.4px;
    z-index: 99;
}

.list-responsive {
        display: flex;
        flex-direction: column
}

/* Menu Hambuerguesa */
    .bars__menu {
        width: 3rem;
        height: 3rem;
        cursor: pointer;
        @include m.flex(column, center, space-evenly);
        z-index: 10;
        span {
            display: block;
            height: .3rem;
            width: 100%;
            border-radius: .1rem;
            background-color: v.$blanco;
            transform-origin: 0 100%;
            transition: all .3s;
        }
    
        .activeline1__bars-menu {
            transform: rotate(45deg) translate(-2px, 1px);
        }
        .activeline2__bars-menu {
            opacity: 0;
            margin-left: -30px;
        }
        .activeline3__bars-menu {
            transform: rotate(-45deg) translate(-4px, 2px);
        }
        @include m.tablet {
            display: none;
        };
    }



