@use 'base/mixins' as m;
@use 'base/variables' as v;

.news {
    position: relative;
}

.container-triangle {
    position: absolute;
    max-width: 1200px;
    height: 80rem;
    background-color: orange;
}

.triangle1 {
    @include m.triangle(30rem, 20rem, 30rem);
    animation: t1 16s ease infinite alternate-reverse;
}
.triangle2 {
    @include m.triangle(20rem, 45rem, 108rem);
    animation: t2 20s ease infinite alternate-reverse;
}
.triangle3 {
    @include m.triangle(25rem, 37rem, 70rem);
    animation: t3 24s ease infinite alternate-reverse;
}

.triangle4 {
    @include m.triangle(35rem, -8rem, 80rem);
    animation: t4 30s ease infinite alternate-reverse;
}

@keyframes t1 {
    0% {
        transform: rotate(58deg) translateY(0px)
    }

    50% {
        transform: rotate(55deg) translateY(25px)

    }

    100% {
        transform: rotate(58deg) translateY(0px)
    }
}

@keyframes t2 {
    0% {
        transform: rotate(53deg) translateY(0px)
    }

    50% {
        transform: rotate(55deg) translateY(30px)

    }

    100% {
        transform: rotate(53deg) translateY(0px)
    }
}

@keyframes t3 {
    0% {
        transform: rotate(45deg) translateY(0px)
    }

    50% {
        transform: rotate(50deg) translateY(20px)

    }

    100% {
        transform: rotate(45deg) translateY(0px)
    }
}

@keyframes t4 {
    0% {
        transform: rotate(50deg) translateY(0px)
    }

    50% {
        transform: rotate(55deg) translateY(40px)

    }

    100% {
        transform: rotate(50deg) translateY(0px)
    }
}

.new-content {
    @include m.flex(row, center, space-evenly, 3rem);
    z-index: 100;
}

.news__title {
    font-weight: 700;
    color: v.$rojo;
    margin: 0;
    z-index: 1000;
}

.card {
    max-width: 40rem;
    border-radius: v.$br;
    overflow: hidden;
    padding: v.$mediano;
    box-shadow: 10px 9px 27px -6px rgba(0,0,0,0.39);
    -webkit-box-shadow: 10px 9px 27px -6px rgba(0,0,0,0.39);
    -moz-box-shadow: 10px 9px 27px -6px rgba(0,0,0,0.39);
    transition: .4s;
    z-index: 100;
    border-top: 2px solid rgba(255, 255, 255, 0.3);
    border-left: 2px solid rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(9px);
    -webkit-backdrop-filter: blur(9px);
    .card__content__title {
        color: v.$blanco;
    }

    .card__content__paragraph {
        color: v.$blanco;
    }
    &:hover {
        background: v.$rojo;
        transform: translateY(-10px);

        .card-img {
            width: 110%;
        }   
    }
}

.card__content-img {
    width: 100%;
    border-radius: v.$br;
    overflow: hidden;
}

.card-img {
    width: 100%;
    object-fit: cover;
    object-position: center;
    transition: .4s;
}

.card__content {
    @include m.flex(column, center, center, v.$corto)
}

.card__content__title {
    font-weight: 400;
    margin: 0;
}

.card__content__paragraph {
    text-align: justify;
}