@use 'base/mixins' as m;
@use 'base/variables' as v;

.main-new {

    .new-contenedor-img {
        height: 95rem;
    }

    img {
        object-fit: cover;
        object-position: center center;
        height: 95rem;

    }
    margin-bottom: 7rem;
}

.new-description {
    @include m.flex(column, center, center, v.$mediano)
}

.new__title {
    font-weight: 900;
    text-align: left;
    margin: 0;
}

.new__paragraph {
    line-height: 33px;
}